* {
    box-sizing: border-box;
    --main-bg-color: #FFD700;
}
body {
    /*margin: 0;*/
}
main {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1em;
}
.header {
    background: var(--main-bg-color);
    grid-area: 1 / 1 / 2 / 6;
    padding: .5em;
}
.nav {
    background: var(--main-bg-color);
    grid-area: 2 / 1 / 9 / 2;
    padding: .5em;
}
.article {
    background: var(--main-bg-color);
    grid-area: 2 / 2 / 8 / 5;
    padding: .5em;
}
.ads {
    background: var(--main-bg-color);
    grid-area: 2 / 5 / 8 / 6;
    padding: .5em;
}
.footer {
    background: var(--main-bg-color);
    grid-area: 8 / 2 / 9 / 6;
    padding: .5em;
}