:root {
    --bg-info: #D0DEFC;
    --text-info: #4B47A1;
    --bg-success: #D6F2DC;
    --text-success: #408555;
    --bg-warning: #FDFBCE;
    --text-warning: #8B7810;
    --bg-error: #F4D5D8;
    --text-error: #9C4154;
}

body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.message-info {
    background: var(--bg-info);
    padding: .8em;
    margin: .8em;
    border: 1px solid lightgrey;
    color: var(--text-info);
    border-radius: 1em;
}

.message-success {
    background: var(--bg-success);
    padding: .8em;
    margin: .8em;
    border: 1px solid lightgrey;
    color: var(--text-success);
    border-radius: 1em;
}

.message-warning {
    background: var(--bg-warning);
    padding: .8em;
    margin: .8em;
    border: 1px solid lightgrey;
    color: var(--text-warning);
    border-radius: 1em;
}

.message-error {
    background: var(--bg-error);
    padding: .8em;
    margin: .8em;
    border: 1px solid lightgrey;
    color: var(--text-error);
    border-radius: 1em;
}