.fancy-header  {
    text-align: center;
}

.header {
    text-decoration: underline;
}

body {
    background: orange;
    background-image: url("../img/shy-guy.png");
    background-repeat: repeat;
    background-size: 100% auto;
    background-attachment: fixed;
}

ul {
    list-style-type: upper-roman;
}

body {
    font-family: 'Sen', sans-serif;
}

table, th, td {
    border: 1px solid black;
}

a:link {
    color: red;
}

a:visited {
    color: aqua;
}

a:hover {
    color: burlywood;
}

a:active {
    color: darkgoldenrod;
}